<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>document</title>
</head>
<body style="background:grey;">
<div>
    <form action="/" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

</body>
</html>
